<main class="contenedor">
    <form action="/vacantes/editar/{{vacante.url}}" method="POST" class="default-form">
        <h3>Información General</h3>

        <div class="campo">
            <label>Titulo</label>
            <input type="text" value="{{vacante.titulo}}" name="titulo" placeholder="Ej: React Developer"  required>
        </div>
        <div class="campo">
            <label>Empresa</label>
            <input type="text" value="{{vacante.empresa}}" name="empresa" placeholder="Empresa Contrata" required>
        </div>
        <div class="campo">
            <label>Ubicación</label>
            <input type="text" value="{{vacante.ubicacion}}" name="ubicacion" placeholder="Ej: México o Remoto" required>
        </div>
        <div class="campo">
            <label>Salario (USD)</label>
            <input type="text" value="{{vacante.salario}}" name="salario" placeholder="Ej: $500 USD" required>
        </div>
        <div class="campo">
            <label>Contrato</label>
            <select name="contrato">
                {{#tipoContrato vacante.contrato}}
                    <option value="" disabled selected>-- Selecciona --</option>
                    <option value="Freelance">Freelance</option>
                    <option value="Tiempo Completo">Tiempo Completo</option>
                    <option value="Medio Tiempo">Medio Tiempo</option>
                    <option value="Por Proyecto">Por Proyecto</option>
                {{/tipoContrato}}
            </select>
        </div>
        <h3>Descripción del Puesto</h3>
        <div class="campo descripcion">
            <label>Descripción</label>
            <input type="hidden" id="x" value="{{{vacante.descripcion}}}" name="descripcion">
            <trix-editor input="x"></trix-editor>
        </div>

        <h3>Conocimientos</h3>

        <ul class="lista-conocimientos">
            {{#seleccionarSkills vacante.skills}}
            {{/seleccionarSkills}}
        </ul>

        <div class="campo centrar-horizontal">
            <input type="hidden" name="skills" id="skills">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>


    </form>
</main>